@model IEnumerable<KarlanTravelClient.Models.TourDetail>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/_LayoutPage1.cshtml";

}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>


<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        @foreach (var item in Model)
        {
            <img src="@item.Tour.TourImage" class="card-img-top" style="margin-top:10%">
            break;
            
        }
    <p>@Url.Action("Home", "Tour/map")</p>

        <script>GetAllCards()</script>

        <div class="map mt-5 pt-md-5">
            <div id="map" style="height:500px;"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <table class="table">
            <tr>
                <th>
                    Activity
                </th>
                <th>
                    Starting time
                </th>
                <th>
                    Ending time
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Activity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityTimeStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityTimeEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TouristSpot.Cord_Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TouristSpot.Cord_Long)
                    </td>

                </tr>
            }

        </table>
    </div>

    <div class="col-lg-1"></div>
</div>

<script>
    var map = L.map('map').setView([21.001975258290276, 105.8031678199768], 10);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);
    var marker = L.marker([21.001975258290276, 105.8031678199768]).addTo(map).bindPopup('Our Location.')
        .openPopup();;
    function GetAllCards() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Home", "https://localhost:44348/Tour/map")',
            dataType: 'json',
            
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {

                    var lat = item.Cord_Lat;
                    var long = item.Cord_Long;
                    console.log(lat);
                    console.log(long);
                    var marker = L.marker([lat, long]).addTo(map);

                });


            }

        })
    }


    L.Routing.control({
        show: false,
        waypoints: [
            L.latLng(21.001975258290276, 105.8031678199768),
            L.latLng(21.038905050234785, 105.85642576217651)
        ]
    }).addTo(map);
</script>

