@model IEnumerable<KarlanTravelClient.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    .detailBtn {
        background-color: red;
        color: white;
        margin-top: 1%
    }
</style>
<body>
    <div>


        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-480-12">

                    <div class="card " style="width: 80%; display:block; margin:40px auto ">
                        <img src="@item.TourImage" class="card-img-top" alt="@item.TourName" height="320">
                        <div class="card-body">
                            <h5 class="card-title">@item.TourName</h5>
                            <p class="card-text">
                                @if (item.CategoryId1 != "UNCG")
                                {
                                    @item.Category.CategoryName
                                }
                                -
                                @if (item.CategoryId2 != "UNCG")
                                {
                                    @item.Category1.CategoryName
                                }
                            </p>

                            <p class="card-text">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                From @item.TourStart.ToString("HH:mm dd/MM/yyyy") to @item.TourEnd.ToString("HH:mm dd/MM/yyyy")
                            </p>
                            
                            <p class="card-text">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                @item.TourRating/5
                            </p>
                            <p class="card-text">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                Price: @((int)item.TourPrice)
                            </p>
                            @Html.ActionLink("Detail", "Detail", "Tour", new { id = item.TourId }, new { @class = "btn btn - primary detailBtn" })
                            @*<a href="#" class="">Go somewhere</a>*@
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</body>

