@model IEnumerable<KarlanTravelClient.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div class="col-md-7 mx-auto">
    <div class="userInfo" style="padding-left: 100px; padding-bottom: 100px; padding-right: 100px">

        <br />
        <br />
        <h2 style="text-align:center">    Welcome @Session["UserName"]</h2>
        <br />
        <br />
        @foreach (var user in Model)
        {
            <h4>User Name: @user.Username</h4>
            <br />
            <br />
            <h4>Email: @user.Email</h4>
            <br />
            <br />
            <h4>Phone: @user.Phone</h4>
            <br />
            <br />
            <h4>Amount to pay: @user.AmountToPay</h4>
            <br />
            <br />
            <h4>Amount to refund: @user.AmountToRefund</h4>
            <br />
            <br />
            if (user.BankAccount == null)
            {
                <h4>Bank Account: None</h4>
            }
            else
            {
                <h4>Bank Account: @user.BankAccount.AccountName - @user.BankAccount.AccountNumber</h4>
            }
            <br />
            <br />
            <h4>Violation: @user.Violations</h4>
            <br />
            <br />
            <br />
            if (user.BlackListed)
            {
                <h4 style="color: red; padding-left: 15px;">- You're in blacklist!'</h4>
            }

        }
        <div class="row">
            <div class="col-md-6 text-center ">
                <a href="../User/ChangPassword" style="margin-right: 50px" role="button" class=" btn btn-block mybtn btn-primary tx-tfm">Change password</a>
            </div>
            <div class="col-md-6 text-center ">
                <a href="../User/UpdateBankAccount" style="margin-right: 50px" role="button" class=" btn btn-block mybtn btn-primary tx-tfm">Update Bank Account</a>
            </div>
        </div>



    </div>
    </div>