@model IEnumerable<KarlanTravelClient.Models.Customer>
@{
    ViewBag.Title = "TransactionBill";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="depForm" style="padding-left: 100px; padding-bottom: 100px; margin-top: 7%">
    <h3>Transaction form</h3>
    @foreach (var user in Model)
    {
        <span>User Name: @user.Username</span>
        <br /><br />
        <span>Bank Account: @user.BankAccount.AccountNumber - @user.BankAccount.AccountName</span>
        <br /><br />
        <span>Bank Name: @user.BankAccount.Bank.BankName</span>
        <br /><br />
    }
    <span>Tour Name: @TempData["tourName"]</span>
    <br /><br />
    <span>Time start: @TempData["tourStart"]</span>
    <br /><br />
    <span>Tour's price': @TempData["tourStart"]</span>
    <br /><br />
    <form action="depositTour" method="post">
    <select name="transOpt">
        <option value="30%">Put deposit (30% price of tour)</option>
        <option value="100%">Purchase full tour</option>
    </select>
    <br /><br />
    <p style="color: red">@TempData["TransError"]</p>
    <br />
    <input type="hidden" name="tourID" value="@TempData["tourID"]" />
    <input type="submit" value="Accept" />
    </form>
</div>

